/* Import */
 @font-face {
   font-family: "Graphik";
   src: url("../fonts/graphik-regular.woff2")format("woff2");
   font-style:normal;
   font-weight:400;
   font-display:fallback
 }
 @font-face {
   font-family:"Graphik";
   src:url("../fonts/graphik-regular-italic.woff2")format("woff2");
   font-style:italic;
   font-weight:400;
   font-display:fallback
 }
 @font-face {
   font-family:"Graphik";
   src:url("../fonts/graphik-medium.woff2")format("woff2");
   font-style:normal;
   font-weight:700;
   font-display:fallback
 }

/* Theme */
 @media (prefers-color-scheme: light) {
 	:root {
 		--background: lavenderblush;
 		--cardBG: rgb(50, 50, 50);
 		--text: rgba(0, 0, 0, 1);
 		--shadowColor: rgb();
 	}
 }
 @media (prefers-color-scheme: dark) {
 	:root {
 		--background: rgb(50,52,56);
 		--cardBG: rgb(100, 102, 106);
 		--text: rgba(255, 255, 255, 1);
 		--shadowColor: rgb(100, 100, 100);
 	}
 }

* {
	scroll-margin-top: 35vh;
	font-family: "Graphik", sans-serif;
	margin: 0;
	padding: 0;
  	font-size: 1.25rem;
}

html, body {
	--footerHeight: 100px;
	--dictionaryText: "Словарь→";

 	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x: hidden;
	background-color: var(--background);
}

/* Standarts */
 .hidden { display: none; }
 .space-between { justify-content: space-between; }
 .br5, .br10, .br15, .br20, .br25, .br30 { display: block; width: 1px; }
 .br5 { height: 5px; }
 .br10 { height: 10px; }
 .br15 { height: 15px; }
 .br20 { height: 20px; }
 .br25 { height: 25px; }
 .br30 { height: 30px; }
 .h1, .h2, .h3 {
	color: var(--text);
	margin-bottom: 6px;
 }

/* Site */
 /* Header */
  body > header {
  	 --padding: 20px;
  	 position: fixed;
  	 top: 0;
  	 height: 5.3rem;
  	 width: calc(100vw - (var(--padding) * 2));
  	 border-radius: 0 0 40px 40px / 30px;
  	 padding: 5px var(--padding) 5px var(--padding);
  	 background-color: rgba(32, 78, 138, 0.95);
  	 color: whitesmoke;
  	 z-index: 100;
  }

  body > header > #info {
	 display: flex;
	 flex-direction: row;
  }
  body > header > #info > #lang_me {
  	display: flex;
  	flex-direction: row;
  }

  .selectMenu {
  	background-color: rgb(80, 85, 155);
  	padding: 2px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }

  .selectMenu button {
    color: #fff;
    outline: none;
    border: none;
    display: block;
    position: relative;
    padding: 5px;
    margin: 2px 0;
    background: rgb(20, 20, 50);
  }

  body > header > #nav {
  	display: flex;
  	flex-direction: row;
  	width: 100%;
  	overflow: hidden;
  	scroll-behavior: smooth;
  	margin: 0;
  	white-space: nowrap;
  	list-style: none;
  }

  body > header > #nav > li {
  	margin: 0 5px;
    padding: 7px 12px;
    border-radius: 25rem;
    border: 3px solid white;
    background-color: rgba(240, 237, 237, 0.1);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  body > header > #nav > li.current {
    background-color: rgba(120, 195, 120, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  body > header > #nav > li > span { font-size: 1.2rem !important; }

 /* Main */
  .card {
  	display: flex;
  	flex-direction: row;
  	background-color: var(--cardBG);
  	border-radius: 20px;
  	margin: 20px;
  	padding: 30px;
  	min-height: 250px;
  	color: mintcream;
  	box-shadow: 8px 8px 60px -35px black;
  }

  .card > img {
  	height: min(50%, 320px);
  	width: min(50%, 320px);
  	margin-right: 10px;
  }

  .card span {
  	color: var(--text);
  	font-size: 1.3rem;
  	margin-bottom: 5px;
  }

  main {
  	margin: 5rem 11% calc(var(--footerHeight) + 50px) 12%;
  	padding: 1.2em;
  	box-shadow: 2px 2px 60px -14px var(--shadowColor);
  	border-radius: 15px;
  	height: fit-content;
  }
  main span { 
  	position: relative;
  	display: block;
  	color: var(--text); 
  	line-height: 35px;
  }
  main img {
  	width: auto;
  	height: auto;
  	max-width: 100%;
  	max-height: 30vh;
  }
  main ul { margin-left: 1.6rem; }
  #dict > main ul li { margin: 5px 0; }
  #dict > main ul li:target { color: skyblue; }

  span.h { font-size: 2rem; }
  span.h1 { font-size: 1.65rem; }
  span.h2 {
  	font-size: 1.4rem;
  	font-weight: bold;
  }
  span.mtop { margin-top: 17px; }

  b.link,
  b.dict {
  	position: relative;
    cursor: pointer;
  	transition: border-color 0.5s;
  	z-index: 0;
  }
  b.link { border-bottom: 4px dotted var(--text); }
  b.dict::before {
  	content: "*";
  	position: absolute;
  	top: -7px;
  	right: -10px;
  	z-index: 1;
  }

 /* Code */
  pre {
      background-color: rgb(86, 86, 86);
      padding: 12.5px;
      border-radius: 10px;
      overflow-x: auto;
  }
  pre:not(.code-inline) { margin: 10px 0 20px 0; }
  	
  code {
  	  position: relative;
  	  text-align: left;
  	  font-family: monospace !important;
      color: rgba(199, 222, 233, 1);
      line-height: 32px;
      border-radius: 5px;
  }
  code.code-inline { margin: 0 7px; text-wrap: nowrap; z-index: 0;}
  code.code-inline::before {
  	  content: "";
      background-color: rgb(86, 86, 86);
      padding: 4px 8px;
      border-radius: 10px;
      width: 98%;
      height: 95%;
      position: absolute;
      z-index: -1;
      left: -5px;
      top: -3px;
  }

 /* Footer */
  footer {
  	 --padding: 20px;
  	 position: fixed;
  	 width: calc(100vw - (var(--padding) * 2));
  	 padding: var(--padding);
  	 border-radius: 40px 40px 0 0 / 30px;
  	 background-color: rgba(48, 56, 65, 0.85);
  	 color: whitesmoke;
  	 font-size: 1.6rem;
  	 bottom: 0;
  	 z-index: 100;
  }
  footer::selection { background-color: rgba(0, 30, 60, 0.6);}

 #toStart {
	z-index: 101;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 3px solid rgb(80, 84, 90);
	background: rgba(20, 20, 230, 0.75);
	background-image: url("./img/toStart.svg");
	background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
	position: fixed;
	right: 20px;
	bottom: var(--footerHeight);
	transition: opacity 0.2s;
 }
 

/* Not phone */
 @media not screen and (pointer: coarse){
 	b.link:hover { border: rgba(0,0,0,0); }
   	b.dict:hover { opacity: 0.9; }
   	b.dict:hover::after {
   		content: var(--dictionaryText);
   		position: absolute;
   		top: 0px;
   		right: -150px;
   		background-color: rgb(86, 86, 86);
   		border-radius: 5px;
   		color: rgb(200, 10, 60);
   		z-index: 1;
   	}
 
   	body > header > #nav > li:hover {
     	background-color: rgba(240, 237, 237, 0.65);
     	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   	}
 }

/* Phone */
 @media screen and (pointer: coarse){
 	* {
   		font-size: 1rem;
 	}
 
 	body > header {
 		--padding: 5px;
 		width: calc(100% - (var(--padding) * 2));
 		padding: var(--padding);
 	}
 	body > header > #nav {
 		overflow-x: auto;
 	}
   	body > header > #nav > li:active {
   	  background-color: rgba(240, 237, 237, 0.65);
   	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   	}

   	.card { flex-direction: column; }
   	.card > img {
  		height: 100%;
  		width: 100%;
  		margin-right: 0;
  	}

   	span.h { font-size: 1.65rem; }
   	span.h1 { font-size: 1.4rem; }
   	span.h2 { font-size: 1.2rem; }
 
   	main {
   		margin-left: 1.2rem;
   		margin-right: 1.2rem;
   	}
 
   	#toStart { 
  		height: 50px;
  		width: 50px;
  		right: 4px;
  	}
  	#toStart:active {
  		opacity: 0.65;
  	}
 }
